 body {
      background: #f3f3f7;
      font-family: Georgia, serif;
      padding: 40px;
    }

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 40px;
    }

    input {
      width: 30%;
      padding: 15px;
      font-size: 20px;
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .output-box {
      width: 30%;
      padding: 20px;
      font-size: 20px;
      border: 2px solid #ccc;
      border-radius: 5px;
      background: white;
    }